@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Kaushan+Script&family=Manrope:wght@200;300;400&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500&family=Sora:wght@200;300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.sidebar{
    background-color: #222;
    background-blend-mode: lighten;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.5));
    width:12vw;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    padding-top: 32px;
}
.sbDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0vw 20px 0vw;
}
.sbDiv:hover{
    background-color: #000;
    transition: 2ms;
}

.homeIcon{
    margin-left:0.5vw;
   font-size: 1.5rem;
   margin-bottom: 8px;
   color:#fff;

}
.sbText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 23px;
    color: #fff;
    margin-top: 2px;
    text-transform: capitalize;
    cursor: pointer;
}